@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-size: 14px;
    color: black;
}

h1 {
    font-weight: 500;
    font-size: 33px;
    line-height: 43px
}

h2 {
    font-size: 26px;
    line-height: 35px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    line-height: 27px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 10px;
}